.App {
  text-align: center;
}

.App-logo {
  width: 200px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.send-button {
  font-size: 24px;
  padding: 20px 40px;
  cursor: pointer;
  background: #000;
  color: #00d30d;
  border: 2px solid #00d30d;
}

.send-button:hover {
  background: #00d30d;
  color: black;
}

.data-block {
  width: 400px;
  margin: 20px;
}